@page "/users"
@attribute [Authorize]
@inject ApiService ApiService

<div class="row">
    <div class="col">
        <h1>Users</h1>

    </div>
    <div class="col text-right">
        <a href="/users/add" class="btn btn-primary"><i class="oi oi-plus"></i> Add new</a>
    </div>
</div>

@if (users == null)
{
<div>Lodaing...</div>
}
else
{
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>User name</th>
            <th>Hour rate</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users.Items)
        {
            <tr>
               <td>@user.Name</td> 
               <td>@user.HourRate</td> 
               <td class="text-right">
                   <div class="btn-group"><a href="/users/(@user.Id)/edit" class="btn-light"><i class="oi oi-pencil">Edit</i></a></div>
                   <div class="btn-group"><a href="/users/(@user.Id)/delete" class="btn-light text-danger"><i class="oi oi-delete">Delete</i></a></div>
               </td> 
            </tr>
        }
    </tbody>
    
</table>


    <!--PAGER-->
}

@code
{


private PageList<UserModel> users;

}